*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Pangolin Regular';
    src: url(..//fonts/Pangolin-Regular.ttf);
}

*::-webkit-scrollbar{
    width: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(..//img/blackboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* header */

header{
    height: 50px;
    width: 1400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.137);
}

.logo{
    max-width: 100%;
    padding: 8px 0 8px 10px;
}

.logo span{
    font-family: 'Pangolin Regular';
    font-size: 40px;
    color: white;
    
}

/* main */
main{
    height: 85vh;
    width: 1400px;
    margin: 10px auto;

}

.wrap_main{
    height: 100%;
    width: 100%;
    display: flex;
}

.left_control_panel{
    height: 100%;
    min-width: 300px;
    width: 25%;
    margin-right: 10px;
}

/* main - left_control_panel */

.create_new_task{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url(..//img/background_create.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.wrap_button{
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrap_button input{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
}

.wrap_button span{
    font-family: 'Pangolin Regular';
    font-size: 42px;
    color: black;
}

/* main - article */

article{
    width: calc(75% - 10px);
    height: 100%;
}

.wrap_article{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.item_for_list{
    max-height: 300px;
    min-height: 150px;
    width: 250px;
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.mouseover_trigger{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.line_divided{
    margin: 10px 0;
    height: 34px;
    width: 980px;
    background-image: url(..//img/line23.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.buttons_manage{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;     
    display: none;
}

.button_edit_item{
    height: 30px;
    width: 20px;
    background-image: url(..//img/edit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 5px 0 5px;
}

.button_delete_item{
    height: 30px;
    width: 20px;
    background-image: url(..//img/cancel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttons_manage input{
    height: 30px;
    width: 20px;
    background-color: transparent;
    border: none;
}

.title_item{
    height: 20%;
    width: 100%;         /* изменить при наведении */
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Pangolin Regular';
    color: white;
    font-size: 30px;
}

.description_item{
    height: 72%;
    width: 100%;
    font-family: 'Pangolin Regular';
    color: white;
    font-size: 24px;
    overflow: scroll;
    border-top: 2px solid rgba(255, 255, 255, 0.22);
}

.edit_element{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;          /* менять при редактировании */
    flex-direction: column;
    z-index: 0;             /* менять при редактировании */
}

.edit_element .input_title{
    height: calc(20% - 20px);
    width: 100%;
    border: none;
    padding-bottom: 20px;
    background-color: transparent;
    font-family: 'Pangolin Regular';
    color: white;
    font-size: 30px;
   
}

.edit_element .textarea_item{
    width: 100%;
    height: 68%;
    border: none;
    background-color: transparent;
    resize: none;
    font-size: 24px;
    background-color: transparent;
    font-family: 'Pangolin Regular';
    color: white;
}

.buttons_confirm_edit{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons_confirm_edit #button_confirm_edit_id{
    height: 100%;
    width: 40px;
    background-image: url(..//img/icon_confirm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.buttons_confirm_edit #button_cancel_edit_id{
    height: 100%;
    width: 40px;
    background-image: url(..//img/cancel_edit_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.time_create{
    height: 8%;
    width: 100%;
    font-family: 'Pangolin Regular';
    color: rgba(255, 255, 255, 0.719);
    border-top: 2px solid rgba(255, 255, 255, 0.22);
}

.buttons_manage.mouseover{
    display: flex;
}

.title_item.mouseover{
    width: 80%;
}

.button_confirm_edit.open{
    display: block;
}

.edit_element.open{
    display: flex;
    z-index: 10;
}


/* modal window */

.modal_window_create_new{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal_window{
    min-height: 440px;
    min-width: 740px;
    background: url(..//img/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
   
}

.wrap_modal_window{
    height: 300px;
    width: 700px;
    margin: 10px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title_modal_window{
    height: 17%;
    width: 100%;
    margin-left: 45px;

}

#modal_title_id{
    height: calc(100% - 10px);
    width: 70%;
    font-family: 'Pangolin Regular';
    font-size: 30px;
    margin: 5px 20px;
    border: none;
    color: black;
}

.body_modal_window{
    height: 83%;
    width: 78%;
    margin: 60px 0 0 65px;
}

.wrap_body_modal{
    height: 100%;
    width: 100%;
    position: relative;
}

#textarea_modal_id{
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-family: 'Pangolin Regular';
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.placeholder_textarea{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.placeholder_textarea.unvisible{
    display: none;
}

.placeholder_textarea span{
    margin: auto 0;
    color: rgba(55, 54, 54, 0.659);
    font-size: 36px;
    font-family: 'Pangolin Regular';
}

.wrap_add_modal_button{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 13px;
    bottom: -5px;
    
}

.wrap_add_modal_button input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.wrap_cancel_modal_button{
    height: 60px;
    width: 60px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.wrap_cancel_modal_button input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    
}

.modal_window_create_new{
    display: none; /* вернуть потом на none */
}

.modal_window_create_new.open{
    display: flex;
}

.modal_window_create_new.close{
    display: none;
}








/* footer */

footer{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
}