*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Pangolin Regular';
    src: url(..//fonts/Pangolin-Regular.ttf);
}

*::-webkit-scrollbar{
    width: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(..//img/blackboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* header */

header{
    height: 50px;
    width: 1400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.137);
}

.logo{
    max-width: 100%;
    padding: 8px 0 8px 10px;
}

.logo span{
    font-family: 'Pangolin Regular';
    font-size: 40px;
    color: white;
    
}

/* main */
main{
    height: 85vh;
    width: 1400px;
    margin: 10px auto;

}

.wrap_main{
    height: 100%;
    width: 100%;
    display: flex;
}

.left_control_panel{
    height: 100%;
    min-width: 300px;
    width: 25%;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.363);
}

/* main - left_control_panel */

.create_new_task{
    height: 100px;
    width: 100%;
}

.create_new_task span{
    display: block;
    font-family: 'Pangolin Regular';
    font-size: 40px;
    color: white;
    margin: 20px;
}

/* main - article */

article{
    height: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.137);
}

.wrap_article{
    max-height: calc(100% - 40px);
    max-width: 100%;
    margin: 20px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_list{
    height: 300px;
    width: 30%;
    min-width: 250px;
    margin: 10px;
    background-color: blue;
}









/* footer */

footer{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
}